*{
    margin: 10px 10px;
    padding: 0;
}
body{
    background-color: rgb(98, 148, 109);
}
.weather{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    flex-wrap: wrap;
    gap: 10px;

}
.months{
    width: 180px;
    height: 150px;
    border-radius: 5px;
    background-color: rgb(208, 237, 194);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 50px
}
.months p{
    font-size: small;
    margin-top: 10px;
}
.months h3{
    align-self: flex-start;
    margin-bottom: 5px;
    padding: 0;
}
.months: